version: 2.1

# YAML Anchors
x-main-filters: &main-filters
  branches:
    only: main

x-promotion-context: &promotion-context
  - Vector CI Bot GitHub
  - Vector CI Bot CircleCI
  - Vector Core CI
  - Vector ArgoCD

orbs:
  vsp-ci: vector-solutions/vsp-ci@1.13.4

parameters:
  auto_merge_pr:
    type: boolean
    default: true
    description: "Controls automatic merging of GitOps promotion PRs. Set to true to enable auto-merge, false to disable."

jobs:
  validate-chart:
    docker:
      - image: cimg/python:3.13.3-node
    steps:
      - checkout:
          path: 'codebase'
      - vsp-ci/helm-setup:
          helm-version: "v3.17.0"
          helm-install-dir: /usr/local/bin
      - vsp-ci/helm-validate:
          working_directory: 'codebase'
          chart-path: 'src/helm'
          chart-name: eval-pd-report-service
          value-files-dir: envs
          debug: 2

  #-------------------------------------------------------------##
  ##                                                            ##
  ## PROMOTION JOB DEFINITIONS (render-from-file)               ##
  ##                                                            ##
  #-------------------------------------------------------------##
  gitops-promote-chart:
    docker:
      - image: cimg/python:3.13.3-node
    resource_class: small
    parameters:
      approval_job_name:
        description: Name of the approval step
        type: string
        default: ''
      promotion_file:
        description: The promotion file to use
        type: string
      auto_merge:
        description: Whether to automatically merge the PR created by the promotion (1=yes, 0=no)
        type: integer
        default: 1
      debug:
        description: Whether to enable debug mode for the promotion (1=debug,2=trace)
        type: integer
        default: 0
    steps:
      - vsp-ci/helm-setup:
          helm-version: "v3.17.0"
          helm-install-dir: "/usr/local/bin"
      - vsp-ci/gitops-promote:
          promotion_strategy: 'render-from-file'
          pipeline_number: << pipeline.number >>
          approval_job_name: << parameters.approval_job_name >>
          promotion_file: << parameters.promotion_file >>
          chart_dir: src/helm
          auto_merge: << parameters.auto_merge >>
          debug: << parameters.debug >>
          project_name: ""
          target_cluster: ""
          target_namespace: ""

workflows:
  chart-promote-workflow:
    jobs:
      - validate-chart:
          name: eval-pd-report-service - Validate Chart
          context:
            - Vector Core CI

      #---------------------------------------------------------##
      ##                                                        ##
      ## CHART PROMOTION WORKFLOW JOBS                          ##
      ##                                                        ##
      #---------------------------------------------------------##

      # DEV Environment -----------------------------------------
      - hold:
          name: eval-pd-report-service - Approve Chart Promotion to Dev
          type: approval
          requires:
            - eval-pd-report-service - Validate Chart
          filters: *main-filters
      - gitops-promote-chart:
          name: eval-pd-report-service - Promote Chart to Dev
          approval_job_name: eval-pd-report-service - Approve Chart Promotion to Dev
          promotion_file: 'gitops-promotions/eval-pd-report-service/core-nonprod-east/develop/promotion.yaml'
          context: *promotion-context
          requires:
            - eval-pd-report-service - Approve Chart Promotion to Dev
          filters: *main-filters

      # STAGE Environment ---------------------------------------
      - hold:
          name: eval-pd-report-service - Approve Chart Promotion to Stage
          type: approval
          requires:
            - eval-pd-report-service - Validate Chart
          filters: *main-filters
      - gitops-promote-chart:
          name: eval-pd-report-service - Promote Chart to Stage
          approval_job_name: eval-pd-report-service - Approve Chart Promotion to Stage
          promotion_file: 'gitops-promotions/eval-pd-report-service/core-nonprod-east/stage/promotion.yaml'
          context: *promotion-context
          requires:
            - eval-pd-report-service - Approve Chart Promotion to Stage
          filters: *main-filters

      # PROD Environment ----------------------------------------
      - hold:
          name: eval-pd-report-service - Approve Chart Promotion to Prod
          type: approval
          requires:
            - eval-pd-report-service - Promote Chart to Stage
          filters: *main-filters
      - gitops-promote-chart:
          name: eval-pd-report-service - Create PR to Promote Chart to Prod
          approval_job_name: eval-pd-report-service - Approve Chart Promotion to Prod
          promotion_file: 'gitops-promotions/eval-pd-report-service/core-prod-east/production/promotion.yaml'
          auto_merge: 0
          context: *promotion-context
          requires:
            - eval-pd-report-service - Approve Chart Promotion to Prod
          filters: *main-filters
